# =========================
# App Environment
# =========================

APP_ENV=local

# true  = 외부 API 호출 없이 mock 데이터로 테스트
# false = OpenAI, Kakao, ODsay API 실제 호출
USE_MOCK_EXTERNALS=true


# =========================
# OpenAI API
# =========================

OPENAI_API_KEY=your_openai_api_key

STT_MODEL=gpt-4o-mini-transcribe
LLM_MODEL=gpt-4o-mini


# =========================
# ODsay API
# =========================

ODSAY_API_KEY=your_odsay_server_api_key


# =========================
# Kakao Local API
# =========================

KAKAO_REST_API_KEY=your_kakao_rest_api_key


# =========================
# Origin Location
# =========================

ORIGIN_X=126.970626
ORIGIN_Y=37.554678


# =========================
# Backend Server Settings
# =========================

MAX_AUDIO_SIZE_MB=25
PIPELINE_TIMEOUT_SECONDS=30


# =========================
# Raspberry Pi Client
# =========================

API_URL=http://127.0.0.1:8000/api/process


# =========================
# Raspberry Pi Audio
# =========================

AUDIO_OUTPUT_PATH=recorded_audio.wav